{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="about-box">
        <h2 style="margin: 0; font-weight: bold;">About Us</h2>
        <div class="team-section">
            <div class="team-member">
                <h3>Navid Rahimi</h3>
                <p>Lead Developer</p>
                <p class="bio">Navid is the greatest UHC player far surpassing the likes of Minemanner</p>
            </div>
            <!-- Add more team members as needed -->
        </div>
    </div>
</div>
{% endblock %} 